[submodule "web3-core-subscriptions"]
	path = web3-core-subscriptions
	url = https://github.com/deno-npm/npm_web3_core_subscriptions.git
[submodule "web3-core-method"]
	path = web3-core-method
	url = https://github.com/deno-npm/web3-core-method
[submodule "web3-eth-abi"]
	path = web3-eth-abi
	url = https://github.com/deno-npm/web3-eth-abi
[submodule "web3-providers-ipc"]
	path = web3-providers-ipc
	url = https://github.com/deno-npm/web3-providers-ipc
[submodule "ethjs-account"]
	path = ethjs-account
	url = https://github.com/deno-npm/ethjs-account
[submodule "rlp"]
	path = rlp
	url = https://github.com/deno-npm/rlp
[submodule "ethjs-signer"]
	path = ethjs-signer
	url = https://github.com/deno-npm/ethjs-signer
[submodule "eth-lib"]
	path = eth-lib
	url = https://github.com/deno-npm/eth-lib
[submodule "web3-utils"]
	path = web3-utils
	url = https://github.com/deno-npm/web3-utils
[submodule "web3-eth-iban"]
	path = web3-eth-iban
	url = https://github.com/deno-npm/web3-eth-iban
[submodule "web3-bzz"]
	path = web3-bzz
	url = https://github.com/deno-npm/web3-bzz
[submodule "web3-core-helpers"]
	path = web3-core-helpers
	url = https://github.com/deno-npm/web3-core-helpers
[submodule "web3-core-promievent"]
	path = web3-core-promievent
	url = https://github.com/deno-npm/web3-core-promievent
